html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #202225;
}

.react-dropdown-select {
  width: 100% !important;
  border: none !important;
  padding: 10px !important;
  border-radius: 4px !important;
  border: 2px solid #202225 !important;
}

.react-dropdown-select:focus-within {
  border: 2px solid #5865F2 !important;
}

.react-dropdown-select-dropdown {
  overflow-x: hidden !important;
}

.react-dropdown-select-dropdown, .react-dropdown-select-item {
  background: #202225 !important;
  border: 0 !important;
  border-bottom: 0 !important;
  padding: 5px !important;
  min-width: 300px !important;
  max-height: 100px !important;
}

.react-dropdown-select-item:hover {
  background: #2f3136 !important;
}
